
{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}





<h2>Upload Files</h2>
<div class="container my-3">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <label for="fileRoutine" class="form-label">Upload Only .xls or .xlsx file to the model</label>
          <input class="form-control" type="file" required name="fileRoutine" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
          {% comment %} <input class="form-control" type="file" required name="fileRoutine" > {% endcomment %}
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>



{% endblock body %}