{% extends 'base.html' %}
{%load crispy_forms_tags %} 
{% block title %}teacher{% endblock title %}
{% block body %}
<form action = "{% url 'teacher' %}" method = "post">
    {% csrf_token %}
    {{teacherform |crispy }}
    <input type="submit" value="Submit">
</form>

<div>
<table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">S.N</th>
        <th scope="col">Profile</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Post</th>
        
        <th scope="col">Action</th>
        
      </tr>
    </thead>
    <tbody>
        {% for as in all_teachers %}
        <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{as.profile.user.username}}</td>
        <td>{{as.name}}</td>
        <td>{{as.email}}</td>
        <td>{{as.address}}</td>
        {% comment %} <td>{% for t in as.teacher.all %}
          
          {{t}}
          {% endfor %}
        </td> {% endcomment %}
        <td>{{as.phone}}</td>
        <td>{{as.post}}</td>
        {% comment %} <td>{{as.course}}</td>
        <td>{{as.room_number}}</td> {% endcomment %}
        
        
        <td>
          {% comment %} <a href="{% url 'teacher_detail' as.id %}">
            <button type="button" class="btn btn-sm btn-info">Detail</button>
        </a> {% endcomment %}
        
            {% comment %} <a href="teacher_update/{{as.id}}">
              <button type="button" class="btn btn-sm btn-warning">Edit</button>
          </a> {% endcomment %}
            
            <a href="teacher_delete/{{as.id}}">
                <button type="button" class="btn btn-sm btn-danger">Delete</button>
            </a> 
            {% comment %} <button type="button" class="btn btn-sm btn-danger">Delete</button> {% endcomment %}

        </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>


{% endblock body %}
